@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

/* To have both transparency and ability to change background color together */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  /* box-shadow: inset 0 0 20px 20px #23232329; */
}

/* Override cho Chrome và Edge */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px inherit inset !important; /* Thay đổi màu nền */
  background-color: transparent !important; /* Đảm bảo màu nền trong suốt */
  color: inherit !important; /* Thay đổi màu chữ */
  caret-color: white !important; /* Thay đổi màu của con trỏ (dấu nháy) */
}

textarea:focus,
input:focus {
  outline: none;
}

#feeds-content-bottom-description:focus {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Custome home page and sidebar*/
.label-input-before {
  @apply peer-focus:scale-75 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-6;
}

.label-input-after {
  @apply duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600;
}

.background-image-common {
  @apply bg-[url('./assets/nature_landscape_forest_trees_shrine_anime-163103.jpg')] text-white h-[100vh] flex justify-center items-center bg-no-repeat bg-center bg-cover;
}

.left-sidebar-icons {
  @apply hidden sm2:flex justify-center items-center text-3xl cursor-pointer duration-300 ease-in-out border-slate-600 rounded-2xl hover:bg-gray-100 hover:shadow hover:shadow-slate-200 p-3;
}

.left-sidebar-icons-wrapper {
  @apply flex flex-row lg:flex-col lg:mt-8 gap-3 md:gap-5 lg:gap-7;
}

.hover-header-nav {
  @apply text-xl hover:font-bold ease-in-out duration-300 cursor-pointer;
}

/* Loading spinner component*/
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Để spinner nằm giữa trang */
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-link-dropdown {
  @apply mx-3 p-3 hover:bg-slate-200 hover:rounded-xl;
}

.nav-link-routing {
  @apply my-2 hover:-translate-x-3 ease-in-out duration-500 hover:text-left hover:border-slate-50;
}

.no-scroll {
  overflow: hidden;
}
